@font-face {
  font-family: mifuenteRegularRelaway;
  src: url("../fonts/Raleway-Regular.ttf");
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"); */

body {
  background-color: aqua;
}

p {
  font-family: mifuenteRegularRelaway;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
