* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

#contenedor {
  /* width: 1200px; */
  max-width: 1500px;
  background-color: brown;
  margin: auto;
}

#cabecera {
  background-color: cadetblue;
  height: 80px;
}

#menu {
  /* width: 300px; */
  width: 30%;
  background-color: aliceblue;
  height: 150px;
  /* Float */
  float: left;
}

#contenido {
  /* width: 700px; */
  width: 70%;
  background-color: aquamarine;
  height: 500px;
  /* Float */
  float: left;
}

#pie {
  height: 40px;
  clear: both;

  background-color: yellow;
}
