@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #49445a;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 1000px;
  padding: 0.5rem;
  margin: auto;
}

header {
  background-color: #ffffff;
}
.menu {
  width: 100%;
}
.menu ul {
  list-style: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #000000;
  font-weight: 600;
}

.menu ul li a:hover {
  background-color: #000;
  color: white;
}

.main {
  width: 70%;
  background-color: #ffffff;
  /* Float */
  float: left;
}
.contendor--image {
  width: 100%;
}

.post {
  padding: 1.5rem;
}

.post article h2 {
  margin-bottom: 1.5rem;
}

.post article p {
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

aside {
  width: 30%;
  background-color: #1b1e24;
  color: white;
  /* Float */
  float: left;
}

aside .contenedorAside {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

aside .contenedorAside .titulo {
  color: #c88c3d;
  border-bottom: 1px solid #c88c3d;
}

aside .contenedorAside ul {
  list-style: none;
  padding: 0;
}

aside .contenedorAside ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.8rem 0;
}
aside .contenedorAside ul li a {
  text-decoration: none;
  color: white;
}
aside .contenedorAside ul li a:hover {
  color: #c88c3d;
}

aside .contenedorAside p {
  line-height: 1.6rem;
}

footer {
  width: 70%;
  clear: both;
  background-color: #000;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

@media (max-width: 600.98px) {
  .main {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
